{% extends 'BaseApp/base.html' %}

    {% block css %}
    {% endblock %}

    {% block content %}
        <div class="container">
            <div class="jumbotron">
                <h1 class="display-4">Welcome to Another Page!</h1>
                <p class="lead">This is just a testing of git concepts such as Branching, Merge and Pull requests.</p>
                <hr class="my-4">
                <p>I'll try out these tests until I've a better understanding of these concepts.</p>
                <a class="btn btn-primary btn-lg" href="{% url 'index' %}" role="button">Previous Page</a>
            </div>
        </div>
    {% endblock %}